<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Main</title>
  </head>
  <body>
    <h1>Index</h1>
    <% @posts.each do |post| %>
      <h2><%= post.title %></h2>
      <p><%= post.text %></p>
    <% end %>
  </body>
</html>
