%h1
  %center Dashboard

%table.table.table-bordered
  %tr
    %th Court
    %th Required staff
    %th Allocated staff
    %th Current staff
  - @courts.each do |court|
    %tr
      %td
        = court.name
      %td
        = court.staff_total
      %td
        - court.active_workers.each do |worker|
          %p= worker.name
      %td
        = court.active_workers.count
