%h1
  %center Dashboard

%table{:style => 'border-collapse: collapse; width: 100%'}
  %tr
    %th{:style => 'border: solid'} Court
    %th{:style => 'border: solid'} Required staff
    %th{:style => 'border: solid'} Allocated staff
    %th{:style => 'border: solid'} Current staff
  - @courts.each do |court|
    %tr
      %td{:style => 'border: solid'}
        = court.name
      %td{:style => 'border: solid'}
        = court.staff_total
      %td{:style => 'border: solid'}
        - court.workers.each do |worker|
          %p= worker.name
      %td{:style => 'border: solid'}
        = court.workers.count
