<h1>Dashboard</h1>

<h2>Courts</h2>
<table>
  <tr>
    <th> Court </th>
    <th> Total staff required </th>
    <th> Current staff </th>
  </tr>

  <% @courts.each do |court| %>
    <tr>
      <td><%= court.name %></td>
      <td><%= court.staff_total %></td>
      <td>
        <% court.workers.each do |worker| %>
        <p><%= worker.name  %></p>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to 'View Courts', controller: 'courts' %>
