%h1 Dashboard
%table.table.table-sm
  %thead.thead-dark
    %tr
      %th Court
      %th Required staff
      %th Current staff
      %th Allocated staff
  %tbody
  - @courts.each do |court|
    %tr
      %td
        = court.name
      %td
        = court.staff_total
      %td
        = court.active_workers.count
      %td
        - court.active_workers.each do |worker|
          %p= link_to worker.name, worker_path(worker)
