%h1
  %center All Courts
%table
  %tr
    %th Court
    %th Total staff required
    %th
  - @courts.each do |court|
    %tr
      %td= court.name
      %td= court.staff_total
      %td= link_to 'Details', court_path(court)
