%h1 All Courts
%table.table.table-sm
  %tr
    %thead.thead-dark
      %th Court
      %th Total staff required
      %th
    %tbody
    - @courts.each do |court|
      %tr
        %td= court.name
        %td= court.staff_total
        %td= link_to 'Details', court_path(court)
