%h1
  %center All Workers
%table
  %tr
    %th Worker
    %th Total staff required
    %th
  - @workers.each do |worker|
    %tr
      %td= worker.name
      %td= link_to 'Details', worker_path(worker)
