%h1 All Workers
%table.table.table-sm
  %thead.thead-dark
    %tr
      %th Worker
      %th Court
  %tbody
    - @workers.each do |worker|
      %tr
        %td= link_to worker.name, worker_path(worker)
        - if worker.courts.first.present?
          %td= worker.courts.first.name
        - else
          %td= link_to 'Assign court', worker_path(worker)
