%h1
  %center All Workers
%table
  %tr
    %th Worker
    %th
    %th Edit worker
  - @workers.each do |worker|
    %tr
      %td= worker.name
      - if worker.courts.first.present?
        %td= worker.courts.first.name
      - else
        %td No court assigned
      %td= link_to 'Edit', worker_path(worker)
