%h1
  %center All Workers
%table.table.table-bordered
  %tr
    %th Worker
    %th Court
  - @workers.each do |worker|
    %tr
      %td= worker.name
      - if worker.courts.first.present?
        %td= worker.courts.first.name
      - else
        %td= link_to 'Assign court', worker_path(worker)
